.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/

/.idea_bak/
/antlr/src/main/antlr/gen/IQLLexer.interp
/antlr/src/main/gen/IQLLexer.interp
/antlr/src/main/antlr/gen/IQLLexer.java
/antlr/src/main/gen/IQLLexer.java
/antlr/src/main/antlr/gen/IQLLexer.tokens
/antlr/src/main/gen/IQLLexer.tokens
/antlr/src/main/antlr/gen/KQLLexer.interp
/antlr/src/main/gen/KQLLexer.interp
/antlr/src/main/antlr/gen/KQLLexer.java
/antlr/src/main/gen/KQLLexer.java
/antlr/src/main/antlr/gen/KQLLexer.tokens
/antlr/src/main/antlr/KQLLexer.tokens
/antlr/src/main/gen/KQLLexer.tokens
/antlr/src/main/resources/ai/koryki/antlr/IQLLexer.g4
/antlr/src/main/resources/ai/koryki/antlr/IQLParser.g4
/antlr/src/main/resources/ai/koryki/antlr/KQL.g4
/antlr/src/main/resources/ai/koryki/antlr/IQL.g4
/antlr/src/main/antlr/gen/IQL.interp
/antlr/src/main/gen/IQL.interp
/antlr/src/main/resources/ai/koryki/antlr/gen/IQL.interp
/antlr/src/main/antlr/gen/IQL.tokens
/antlr/src/main/gen/IQL.tokens
/antlr/src/main/resources/ai/koryki/antlr/gen/IQL.tokens
/antlr/src/main/antlr/gen/IQLBaseListener.java
/antlr/src/main/gen/IQLBaseListener.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLBaseListener.java
/antlr/src/main/antlr/gen/IQLBaseVisitor.java
/antlr/src/main/gen/IQLBaseVisitor.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLBaseVisitor.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLLexer.interp
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLLexer.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLLexer.tokens
/antlr/src/main/antlr/gen/IQLListener.java
/antlr/src/main/gen/IQLListener.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLListener.java
/antlr/src/main/gen/IQLParser.interp
/antlr/src/main/antlr/gen/IQLParser.java
/antlr/src/main/gen/IQLParser.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLParser.java
/antlr/src/main/gen/IQLParser.tokens
/antlr/src/main/gen/IQLParserBaseListener.java
/antlr/src/main/gen/IQLParserBaseVisitor.java
/antlr/src/main/gen/IQLParserListener.java
/antlr/src/main/gen/IQLParserVisitor.java
/antlr/src/main/antlr/gen/IQLVisitor.java
/antlr/src/main/gen/IQLVisitor.java
/antlr/src/main/resources/ai/koryki/antlr/gen/IQLVisitor.java
/antlr/src/main/gen/ai/koryki/antlr/KQL.interp
/antlr/src/main/resources/ai/koryki/antlr/gen/KQL.interp
/antlr/src/main/gen/ai/koryki/antlr/KQL.tokens
/antlr/src/main/resources/ai/koryki/antlr/gen/KQL.tokens
/antlr/src/main/gen/ai/koryki/antlr/KQLBaseListener.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLBaseListener.java
/antlr/src/main/gen/ai/koryki/antlr/KQLBaseVisitor.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLBaseVisitor.java
/antlr/src/main/gen/ai/koryki/antlr/KQLLexer.interp
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLLexer.interp
/antlr/src/main/gen/ai/koryki/antlr/KQLLexer.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLLexer.java
/antlr/src/main/gen/ai/koryki/antlr/KQLLexer.tokens
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLLexer.tokens
/antlr/src/main/gen/ai/koryki/antlr/KQLListener.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLListener.java
/antlr/src/main/gen/ai/koryki/antlr/KQLParser.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLParser.java
/antlr/src/main/gen/ai/koryki/antlr/KQLVisitor.java
/antlr/src/main/resources/ai/koryki/antlr/gen/KQLVisitor.java
